.van-tabs__wrap--scrollable .van-tab {
  padding: 0 30px;
  font-size: 32px;
}
.van-search__content--round {
  width: 500px;
  height: 60px;
  align-items: center;
}
.van-search--show-action {
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding-right: 20px;
}
.van-search__action {
  display: flex;
}
.van-search__content {
  flex: none;
}
.van-tabs__content--animated {
  background-color: #f5f5f5;
}
